$primary-color: #3F51B5;

#sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

$section-padding: 100px;
.section {
  padding: $section-padding 0;
  box-sizing: border-box;
  min-height: 450px;
  width: 100%;
  flex: 1 1 auto;

  &.left {
    text-align: left;
    & > * {
    }
  }
  &.right {
    text-align: right;
    & > * {
      text-align: right;
    }
  }
  &:nth-child(odd) {
    @extend .left;
    $primary-grid-color: rgba(0,0,0,0.05);
    $secondary-grid-color: rgba(0,0,0,0.03);
    background-image: linear-gradient($primary-grid-color 2px, transparent 2px),
    linear-gradient(90deg, $primary-grid-color 2px, transparent 2px),
    linear-gradient($secondary-grid-color 1px, transparent 1px),
    linear-gradient(90deg, $secondary-grid-color 1px, transparent 1px),
    linear-gradient(240deg, rgba(0,0,0,0.03) 50%, transparent 50%);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px, center;
  }
  &:nth-child(even) {
    @extend .right;
    background-color: $primary-color;
    background-image: linear-gradient(120deg, darken($primary-color, 3%) 50%, $primary-color 50%);
    color: rgba(255,255,255,0.9);

    .button {
      color: black;
    }
  }
  &.peel-shadow {
    $shadow-height: 30px;
    padding-top: 0;

    &::before {
      margin-bottom: $section-padding - $shadow-height;
      content: '';
      height: $shadow-height;
      display: block;
      background-image: radial-gradient(closest-side, rgba(0,0,0,0.15), transparent);
      background-size: 90% $shadow-height * 2;
      background-position: center 0 - $shadow-height;
      background-repeat: no-repeat;
    }
  }
  &:not(:first-child) {
    @extend .peel-shadow;
  }

  h2 {
    font-size: 2em;
    text-transform: uppercase;
  }

  .p-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  p {
   font-size: 1.2em;
   line-height: 1.3em;
   max-width: 500px;
  }

  .button {
    margin: 0 auto;
  }
}
}
