<md-input-container
  class="full-width">
  <table>
    <tr>
      <td>
        <md-chip-list
          [selectable]="false">
          <md-chip
            *ngFor="let tag of tags; let i = index">
            {{tag}}
          </md-chip>
        </md-chip-list>
      </td>
      <td>
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let option of getFilteredOptions()" [value]="option">
            {{option}}
          </md-option>
        </md-autocomplete>
        <input
          mdInput
          type="text"
          placeholder="Tags"
          class="input"
          [mdAutocomplete]="auto"
          [(ngModel)]="model.input"
          (keyup.space)="onEnter()"
          (keyup.,)="onEnter()"
          (keydown.backspace)="onBackspace()" />
      </td>
    </tr>
  </table>
</md-input-container>
